.env
/data
/hear
/models/hear_model_local/
!/models/acoustic_pipeline.joblib
!/models/model_metadata.json

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store